@charset "utf-8";

//swiper

.swiper {
    width: 300px;
    height: 651px;
    z-index: 1;
    border-radius: 37px;
    display: flex;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 300px;
    height: 651px;
    object-fit: cover;
  }
  .swiper-slide video {
    width: 300px;
    height: 651px;
    object-fit: cover;
  }

  .swiper-pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .listenbox_num .swiper-pagination-bullet {
    width: 45px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: black;
    opacity: 1;
    border: 1px solid black;
    background-color: white;
    margin-right: 20px;
    border-radius: 15px;
  }

  .viewerbox_num .swiper-pagination-bullet {
    width: 45px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: black;
    opacity: 1;
    border: 1px solid black;
    background-color: white;
    margin-right: 20px;
    border-radius: 15px;
  }


  .listenbox_num .swiper-pagination-bullet-active {
    color: white;
    background: black;
  }

  .viewerbox_num .swiper-pagination-bullet-active {
    color: white;
    background: black;
  }

